@font-face {
    font-family: 'atwriter';
    src: url('/fonts/atwriter.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color1: #FF6542;
    --color2: #f2f2f8;
    --color3: rgb(217, 241, 250);
    --color4: #564154;
    --color5: #88498F;
}

body {
    margin: 0;
    font-family: "atwriter";
    font-size: 17pt;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: repeat(5, 20vh);
    align-items: end;
    background: url("/imgs/we1.png") center/cover fixed;
    backdrop-filter: blur(6px);
}

input {
    font-family: "atwriter";
}

label {
    font-size: medium;
}

#errorMsg {
    color: red;
}

#formPanel {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid grey;
    border-radius: 40px;
}

footer {
    grid-row: 5 / 5;
    grid-column: 1 / span 5;
    color: var(--color1);
    text-align: center;
    padding: 10px;
    font-size: 0.5em;
}

ul {
    text-align: center;
}

li {
    list-style: none;
}

#guest:hover {
    color: var(--color1);
}

a {
    text-decoration: none;
    color: var(--color4);
}

#loginForm {
    color: var(--color2);
    text-align: center;
}

#loginForm>input {
    font-size: 1.1em;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    outline: none;
    border: none;
    text-align: center;
    color: var(--color5);
    padding: 0.4em;
    background-color: var(--color3);
    border-radius: 3px;
    border: 2px solid var(--color1);
}

#formTitle {
    font-size: xx-large;
    color: var(--color5);
}

::placeholder {
    color: var(--color4);
}

#submit {
    background-color: var(--color1);
    border-radius: 3px;
    color: var(--color2);
    cursor: pointer;
}

#submit:hover {
    color: var(--color2);
    background-color: var(--color1);
    outline: none;
}

#admin-submit {
    color:var(--color4);
}

#admin-submit>p:hover {
    color: var(--color1);
    cursor: pointer;
}

@media screen and (max-width: 750px) {

    body {
        margin: 0;
        font-family: "atwriter";
        font-size: 14pt;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(5, 20vw);
        grid-template-rows: repeat(5, 20vh);
        align-items: end;
        background: url("/imgs/we1.png") center/cover fixed;
        backdrop-filter: blur(6px);
    }

    input {
        font-family: "atwriter";
    }

    label {
        font-size: medium;
    }

    #errorMsg {
        color: red;
    }

    #formPanel {
        width: 80%;
    }

    ul {
        text-align: center;
    }

    li {
        list-style: none;
    }

    #guest:hover {
        color: var(--color1);
    }

    #loginForm {
        color: var(--color2);
        text-align: center;
    }

    #loginForm>input {
        font-size: 0.9em;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
        outline: none;
        border: none;
        text-align: center;
        color: var(--color5);
        padding: 0.4em;
        background-color: var(--color3);
        border-radius: 3px;
        border: 2px solid var(--color1);
    }

    #formTitle {
        font-size: xx-large;
        color: var(--color5);
        margin-top: 15%;
    }

    ::placeholder {
        color: var(--color4);
    }

    #submit {
        background-color: var(--color1);
        border-radius: 3px;
        color: var(--color3);
        cursor: pointer;
    }

    #submit:hover {
        color: var(--color5);
        background-color: var(--color1);
        outline: none;
    }
}