:root {
    --color1:#E56E18;
    --color2: #FFB703;
    --color3: white;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:100vh;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--color1);
    text-align: center;
    align-items: center;
}

.div3 {
    grid-area: 5 / 2 / 6 / 3;
    background-color: var(--color1);
    text-align: center;
    align-content: center;
    
}

.div4 {
    grid-area: 7 / 2 / 8 / 3;
    height:100%;
    background-color: var(--color1);
    text-align: center;
    align-items: center; 
}

button {
    background-color: var(--color2);
    color:white;
}
