@font-face {
    font-family: 'atwriter';
    src: url('/fonts/atwriter.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color1: rgb(224, 103, 3);
    --color2: #f2f2f8;
    --color3: rgb(217, 241, 250);
    --color4: black;
    --color5: rgb(139, 0, 105);
}

html,
body {
    height: 100%;
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0%;
    margin: 0;
    font-family: "atwriter";
    font-size: 17pt;
    height: 100vh;
    align-items: center;
    background: url("/imgs/we1.png") center/cover fixed;
    backdrop-filter: blur(6px);
}

button {
    font-family: 'atwriter';
    padding: 12px;
    font-size: 1em;
    background-color: var(--color1);
    border-radius: 20%;
    min-width: 40%;
    width: auto;
    color: var(--color2);
    cursor: pointer;
}


/* button {
    font-family: 'atwriter';
    padding: 12px;
    font-size: 1em;
    background-color: var(--color1);
    border-radius: 20%;
    min-width: 40%;
    width: auto;
    color: var(--color2);
    cursor: pointer;
}

input[type='submit'] {
    font-family: 'atwriter';
    padding: 12px;
    font-size: 1em;
    background-color: var(--color1);
    border-radius: 20%;
    min-width: 40%;
    width: auto;
    color: var(--color2);
    cursor: pointer;
} */

#name {
    text-align: center;
    color: var(--color5);
    margin-top: 1%;
}

#back {
    width: 10%;
    margin-left: 1%;
    margin-top: 1%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#templateContent {
    flex-grow: 1;
    text-align: center;
}

footer {
    grid-area: 11 / 1 / 12 / 4;
    color: var(--color4);
    text-align: center;
    padding: 10px;
    font-size: 0.75em;
    width: 100%;
}