:root {
  --color1: #FF6542;
  --color2: #f2f2f8;
  --color3: rgb(217, 241, 250);
  --color4: black;
  --color5: rgb(139, 0, 105);
}

#parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 0.5fr) repeat(2, 1fr) repeat(4, 0.3fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
}

/*Room number*/
#roomInfo {
  grid-area: 1 / 1 / 2 / 3;
}

/*chat-info*/
#userList {
  grid-area: 2 / 1 / 3 / 3;
}

/*start*/
#div2 {
  grid-area: 3 / 1 / 4 / 3;
}

/*next question*/
#div3 {
  grid-area: 3 / 1 / 4 / 3;
}

/*Guess this phrase*/
#div4 {
  font-size: 28pt;
  grid-area: 4 / 1 / 5 / 3;
  padding-bottom: 5vh;
}

/*Answer 1*/
#div5 {
  grid-area: 5 / 1 / 6 / 2;
}

/*Answer 2*/
#div6 {
  grid-area: 5 / 2 / 6 / 3;
}

/*Answer 3*/
#div7 {
  grid-area: 6 / 1 / 7 / 2;
}

/*Answer 4*/
#div8 {
  grid-area: 6 / 2 / 7 / 3;
}

/*z score*/
#div9 {
  grid-area: 7 / 1 / 8 / 3;
}

/*x score*/
#div10 {
  grid-area: 8 / 1 / 9 / 3;
}

/*y score*/
#div11 {
  grid-area: 9 / 1 / 10 / 3;
}

/*bb score*/
#div12 {
  grid-area: 10 / 1 / 11 / 3;
}

/*Chat*/
#div13 {
  grid-area: 11 / 1 / 12 / 3;
}

.hide {
  display: none;
}

#chat-box {
  display: none;
}

button {
  background-color: var(--color1);
  color: var(--color2);
  border-radius: 25px;
  min-width: 40%;
  width: 80%;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}



@media screen and (max-width: 750px) {
  #parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, .5fr) repeat(4, 1fr) repeat(4, .3fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80vh;
  }
  
  /*Room number*/
  #roomInfo {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  /*chat-info*/
  #userList {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  /*start*/
  #div2 {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  /*next question*/
  #div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  
  /*Guess this phrase*/
  #div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  
  /*Answer 1*/
  #div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  
  /*Answer 2*/
  #div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  
  /*Answer 3*/
  #div7 {
    grid-area: 7 / 1 / 8 / 2;
  }
  
  /*Answer 4*/
  #div8 {
    grid-area: 8 / 1 / 9 / 2;
  }
  
  /*z score*/
  #div9 {
    grid-area: 9 / 1 / 10 / 2;
  }
  
  /*x score*/
  #div10 {
    grid-area: 10 / 1 / 11 / 2;
  }
  
  /*y score*/
  #div11 {
    grid-area: 11 / 1 / 12 / 2;
  }
  
  /*bb score*/
  #div12 {
    grid-area: 12 / 1 / 13 / 2;
  }
  
  /*Chat*/
  #div13 {
    grid-area: 13 / 1 / 14 / 2; 
  }
}
