:root {
    --color: black;
    --backColor: white;
}

.wordguess_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: min-content;
    grid-gap: 20px;
    align-self: center;
    /* margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%; */
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    background-color: var(--backColor);
    width: 50px;
    height: 50px;
    border: 5px solid var(--color);
    text-transform: capitalize;
}